
/* YOU ARE IN: sample_project_folder/css/styles.css */

body { 
	background-color: black;}

h1 {
	text-align: center;
	font-family: sans-serif;
	color:	white;
}

.card-wrapper {
	width: 570px;
	margin: 0 auto;
	overflow: hidden;
	border-width: 2px;
	border-color: white;
}

.card {
	height: 96px;
	width: 72px;
	margin: 10px;
	float: left;
	background-image: url('../images/back-of-card.png');
	background-repeat: no-repeat;
}


.flipped {
	background-image: url( '../images/classic-playing-cards.png' );
}

.flipped.c-1 {
	background-position: -1px -1px;
}
.flipped.c-2 {
	background-position: -74px -1px;
}
.flipped.c-3 {
	background-position: -147px -1px;
}
.flipped.c-4 {
	background-position: -220px -1px;
}
.flipped.c-5 {
	background-position: -293px -1px;
}
.flipped.c-6 {
	background-position: -366px -1px;
}
.flipped.c-7 {
	background-position: -439px -1px;
}
.flipped.c-8 {
	background-position: -512px -1px;
}
.flipped.c-9 {
	background-position: -585px -1px;
}
.flipped.c-10 {
	background-position: -658px -1px;
}
.flipped.c-11 {
	background-position: -731px -1px;
}
.flipped.c-12 {
	background-position: -804px -1px;
}
.flipped.c-13 {
	background-position: -877px -1px;
}





/* ADD 74 to the previous, take away 1 (for x) */

/* add 74 to previous take awaqy 1 for x */