/* CURRENTLY IN: styles/main.css */
.name {
	width:			620px;
	float:			left;
	height:			100px;
	border:			2px solid black;
	margin:			20px auto;
}

h1 {
	font-size:		90px;
	margin-left:	20px;
	font-family:	sans-serif;
}

.slant {
	 -webkit-transform: rotate(-45deg);
	 margin-top:	0px;
	 width:			50px;
	 margin-bottom:	-20px;
	 font-size:		30px;
}

.motto { 
	width:			300px;
	height:			100px;
	background-color:	blue;
	float:			right;
	margin:			20px auto;
	text-align:		center;
	font-size:		30px;
}

.initial {
	width:			700px;
	margin:			25px auto;
	border:			2px solid black;
	text-align:		center;
	font-size:		30px;
	clear:			both;
	font-family: 	sans-serif;
}


.decider {
	width:			960px;
	overflow:		hidden;
	margin:			auto;
	background-color: red;
}

.tool {
	width:			960px;
	overflow:		hidden;
	margin:			auto;
	background-color: blue;
}

.question {
	float:			left;
	width:			200px;
	height:			170px;
	margin:			57px;
	border:			2px solid black;
	margin
}

.questionText {
	text-align:		center;
	font-size: 		200%;
	margin-top:		40px;
	margin:			20px;
}

.event {
	float:			left;
	text-align:		center;
	width:			200px;
	height:			170px;
	margin:			57px;
	border:			2px solid black;
}

.result {
	float:			left;
	width:			200px;
	height:			170px;
	margin:			57px;
	border:			2px solid black;
}

.textArea {
	height:			50px;
	overflow:		hidden;
}

.textAreaSmall {
	height:			25px;
	width:			80px;
	overflow:		hidden;
	}
}

.textAreaSmaller {
	height:			25px;
	width:			40px;
	overflow:		hidden;
}

.input {
	margin-bottom:		20px;
}

.answer {
	text-align: 		center;
}

.share {
	height:				40px;
	width:				180px;
}


