/* CURRENTLY IN: styles/main.css */
.controlArrow.next {
	border-color: transparent transparent transparent #000;
}

.controlArrow.prev {
	border-color: transparent #000 transparent transparent;
}

.name {
	width:			30%;
	float:			left;
	height:			100px;
	background-color: rgba(0,0,0,0.5);
	margin:			20px auto;
	border-radius:	2px;
	margin-left:	19px;
	color:			#FAE9DE;
}

h1 {
	font-size:		95px;
	margin:			30px;
	margin-top:		-5px;
}


.motto { 
	width:			10%;
	height:			100px;
	background-color:	rgba(0,0,0,0.5);
	color:			#FAE9DE;
	float:			left;
	margin-top:		20px;
	margin-right:	19px;
	border-radius:	2px;
	font-size:		28px;
	border:			solid black 1px;
}

.top {
	border-bottom:	solid black 1px;
	margin-top:		70px;
}

.initial {
	width:			5;
	margin:			2% auto;
	text-align:		left;
	font-size:		30px;
	clear:			both;
	color:			#FAE9DE;
}

body {
	background-image: 	url(background.jpg);
	background-size:	cover;
	top:				-600px;

}


.decider {
	width:			960px;
	overflow:		hidden;
	margin:			auto;
	border:			solid #291D14 1px;
}

.tool {
	width:			960px;
	overflow:		hidden;
	margin:			auto;
	padding-top:	100px;
}

.box {
	width:			800px;
	height:			350px;
	margin:			auto;
	margin-bottom:	60px;
	margin-top:		-30px;
	background-color:	rgba(0,0,0,0.5);
	color:			#FAE9DE;
	border-radius:  2px;
	border:			1px solid;
	border-color:	black;
	overflow:		none;
}


.questionText {
	text-align:		center;
	font-size: 		80px;
	margin:			auto;
	margin-top:		110px;
	letter-spacing:	5px;
}

.event {
	text-align:		center;
}

.eventQuestion {
	margin-top:		20px;
	font-size:		150%;
}

.result {
}


.input {
	margin-bottom:		20px;
}

.answer {
	text-align: 		center;
}

.share {
	height:				40px;
	width:				180px;
}

.form-inline {
	margin-top:			15px;
	border:				solid gray 1px;
	border-radius: 		2px;
}

.one {
	width:				350px;
	height:				45;
	font-size:			40px;
	margin-top:				50px;

}

.two {
	width:				300px;
	height:				55px;
	font-size:			45px;
}

.three {
	width:				200px;
	height:				55px;
	font-size:			45px;
}

.btn-primary {
	margin-top:			15px;
	color:				#FAE9DE;
	background-color:	#9E8473;
	border-radius:		2px;
	border:				1px #FAE9DE;
	width:				300px;
	height:				150px;
	font-size:			60px;
}

.btn-primary:hover {
	background-color:	#291D14;
	border:				1px solid #9E8473;
	color:				#9E8473;
}

.btn-xs {
	margin-top:			-5px;
	width:				20px;
	height:				20px;
}

.answer {
	border:		1px solid black;
	width:				700px;
	height:   			100px;
	margin:				20px auto;
	font-size: 			70px;
}

.share {
	width:				800px;
	margin:			    auto;
	font-size:			40px;
}

.progress {
	height:				50px;
	width:				50px;
	border-radius:		50%;
	background-color:	#FAE9DE;
	float:				left;
	margin:				20px;
	border:				1px solid gray;
}

nav {
	background-color:	#291D14;
	width:				100%;
	height:				90px;
	border-top:			1px #9E8473;
	position:			fixed;
	bottom:				0px;
}

/*.decider { 
	position: absolute;
}*/

/*bottom two slides postion absolute

