/* YOU ARE IN: sample_project_folder/css/styles.css */

/*body {
	background-size: cover;
	background-repeat: no-repeat;
}

.no-show {
	display: none;
}

.panorama-mode {
	display: block;
}

.panorama {
	width: 100%;
	height: 100%;
}

.panorama img {
	max-height: 100%;
	max-width: 100%;
}*/

body {
	text-align:		center;
	padding:		10%;
	font-family: 	sans-serif;
}

.yesno {
	font-size: 		700%;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
}
.daytime {
	background-image: url( '../images/daytime.jpg');
}

.nighttime {
	background-image: url( '../images/nighttime.jpg');
}
